.search-container {
    height: 95vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.search-results {
    flex-basis: 91%;
    overflow: scroll;
}

.search-div {
    position: fixed;
    bottom: 5%;
    width: 95%;
}

form {
    width: 100%;
    padding-bottom: 4%;
}