@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow: none;
}

#root {
  margin: 0;
  padding: 0;
  overflow: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(62, 59, 59); /* Dark mode background color */
  }
}